body{
    margin:0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    background: linear-gradient(180deg, #fff0f6, #f3f0ff);
    color:#333;
}

/* HERO */
.hero{
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    background: radial-gradient(circle at top, #ffd6e8, #e6d6ff);
}

.hero h1{
    font-size:3rem;
    margin:0;
    color:#d63384;
}

.hero p{
    max-width:500px;
    color:#6c5ce7;
}

.hero button{
    margin-top:20px;
    padding:12px 25px;
    border:none;
    border-radius:30px;
    background:#ff4d8d;
    color:white;
    font-weight:bold;
    cursor:pointer;
}

/* OFFERS */
.offers{
    text-align:center;
    padding:40px 20px;
}

.offers h2{
    color:#d63384;
}

.offer-box{
    display:inline-block;
    background:white;
    margin:10px;
    padding:15px 20px;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,0.08);
}

/* PRODUCTS */
.products{
    padding:60px 8%;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:25px;
}

.card{
    background:white;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,0.08);
    transition:.3s;
    text-align:center;
}

.card:hover{
    transform:translateY(-10px);
}



.card img{
    width:100%;
    height:200px;
    object-fit:cover;
}

.card h3{
    margin:10px 0 5px;
    color:#d63384;
}

.price{
    color:#6c5ce7;
    font-weight:bold;
}

.card button{
    margin:15px;
    padding:10px 20px;
    border:none;
    border-radius:25px;
    background:#ff4d8d;
    color:white;
    cursor:pointer;
}

/* WHATSAPP */
.whatsapp{
    position:fixed;
    bottom:20px;
    left:20px;

    width:55px;
    height:55px;

   background-image: url("https://i.pinimg.com/736x/0b/fb/04/0bfb04888e93c835b6bcff4d36b7217f.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;

    font-size:26px;
    text-decoration:none;
    object-fit: cover;

    border-radius:100%;
    box-shadow:0 10px 25px rgba(0,0,0,0.25);

    transition:2s;
}

.whatsapp:hover{
    transform:scale(1.1);
}

/*cart Whastapp*/

.cart-whatsapp{
    display:block;
    margin:40px auto;
    padding:15px 25px;

    background:#25D366;
    color:white;

    border:none;
    border-radius:30px;

    font-size:1rem;
    font-weight:bold;

    cursor:pointer;
    transition:.3s;
}

.cart-whatsapp:hover{
    transform:scale(1.05);
}

/* POPUP */
.popup{
    position:fixed;
    bottom:20px;
    right:20px;
    background:#6c5ce7;
    color:white;
    padding:15px 20px;
    border-radius:12px;
    display:none;
    font-weight:bold;
}

.footer{
    margin-top:60px;
    padding:10px 5px;
    text-align:center;
    background:rgb(255, 255, 255);
    border-top:1px solid rgba(0,0,0,0.05);
}

.footer h3{
    margin:0;
    color:#d63384;
    font-size:1.8rem;
}

.footer p{
    color:#6c5ce7;
    margin:10px 0;
}

.socials{
    margin-top:15px;
    display:flex;
    justify-content:center;
    gap:15px;
}

.socials img{
    width:35px;
    height:35px;
    transition:.3s;
}

.socials img:hover{
    transform:scale(1.2);
}

.copy{
    margin-top:20px;
    font-size:0.9rem;
    color:#888;
}

.cart-panel{
    position:fixed;
    right:-320px;
    top:0;
    width:300px;
    height:100vh;

    background:white;
    color:#333;
    box-shadow:-10px 0 30px rgba(0,0,0,0.2);

    padding:20px;
    transition:.3s;
    z-index:999;
}

.cart-panel.active{
    right:0;
}

.cart-panel h3{
    margin-top:0;
    color:#d63384;
}

#cartItems{
    margin-top:20px;
    font-size:0.95rem;
    line-height:1.6;
}

.checkout-btn{
    width:100%;
    margin-top:20px;
    padding:12px;

    background:#25D366;
    color:white;

    border:none;
    border-radius:25px;

    font-weight:bold;
    cursor:pointer;
}

.open-cart{
    position:fixed;
    bottom:20px;
    right:20px;

    width:55px;
    height:55px;

    border:none;
    border-radius:50%;

    background:#ff4d8d;
    color:white;

    font-size:24px;

    cursor:pointer;

    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}